<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>

  
</head>
<body>
  

    <a href="/guest/login">Login as student</a>
    <br>
    <a href="/staff/login">Login as staff</a>

  <footer>
   
  </footer>

  
</body>
</html>
